.image_wrapper {
    overflow: hidden;
    border-radius: 20px;
    background: rgb(12, 26, 58);
    height: 450px;
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s all;
}

.image_wrapper:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.product_box h3 {
    font-size: 30px;
    line-height: 35.13px;
    color: rgba(12, 26, 58, 1);
    margin: 24px 0 10px;
}

.product_box p {
    font-size: 18px;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    color: rgba(12, 26, 58, 0.9);
    margin: 0;
}
