body {
    background: #f8f8f8;
    margin: 0;
}

/* =====================================
Modalo stiliai
===================================== */

/* pirmas variantas del active */

/* .modal-wrapper {
    display: none;
}

.modal-wrapper.active {
    display: block;
} */

/* antras variantas del active */

.modal-wrapper:not(.active) {
    display: none;
}

/* pabaiga del active */

.modal-wrapper .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}

.modal-wrapper .modal {
    background: white;
    position: fixed;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* =====================================
Automobiliu blokas
===================================== */

modal-wrapper form label,
.modal-wrapper form input,
.modal-wrapper form button {
    display: block;
}

.modal-wrapper form label {
    margin-bottom: 5px;
}
.modal-wrapper form input {
    margin-bottom: 10px;
}

.modal-wrapper .modal .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-wrapper .modal .title h1 {
    font-size: 20px;
}

/* =====================================
Filtravimas su rikiavimu
===================================== */

.filtravimas-ir-rikiavimas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filtravimas #kaina-iki-filtras {
    width: 60px;
}

input[type="number"] {
    -moz-appearance: textfield;
  }

/* =====================================
Automobiliu blokas
===================================== */

.automobiliu-blokas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.automobiliu-blokas .automobilis {
    background: white;
    width: calc((100% - 3 * 20px) / 4);
    padding: 30px;
    box-sizing: border-box;
}

.automobiliu-blokas .nerasta {
    color: red;
}

.automobilis.naujas-auto {
    text-align: center;
}

.automobilis.naujas-auto button.prideti-nauja {
    background: none;
    border: 2px dashed #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s all;
}

.automobilis.naujas-auto button.prideti-nauja:hover {
    background: #ebebeb;
}