/* ============================================
GLOBAL STYLES
============================================ */

/* body {
    background: orange;
} */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

p, li, a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #222;
    color: #222;
    border-radius: 5px;
    transition: 0.2s all;
}

.btn:hover {
    background: #222;
    color: white;
}

.section {
    padding: 40px;
}

/* ============================================
NAVBAR STYLES
============================================ */

nav {
    background: #222;
    padding: 20px 40px;
}

@media only screen and (max-width: 650px) {
    nav {
        position: relative;
    }
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    color: lightblue;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background: transparent;
    border: none;
    color: white;
}

@media only screen and (min-width: 651px) {
    nav button {
        display: none;
    }
}

nav button i {
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 650px) {
    nav ul {
        position: absolute;
        background: #353535;
        padding: 20px 40px;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        display: none;
    }
}

@media only screen and (min-width: 651px) {
    nav ul {
        display: flex !important;
    }
}

/* ============================================
HEADER STYLES
============================================ */

header {
    padding: 80px 40px;
    background-color: lightblue;
}

/* ============================================
HOME PAGE PROJECTS SECTION STYLES
============================================ */

.newest-projects .projects-list {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 700px) {
    .newest-projects .projects-list {
        flex-direction: column;
    }
}

.newest-projects .projects-list .project {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.newest-projects .projects-list .project p span {
    background-color: rgba(173, 216, 230, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
}

/* ============================================
PROJECTS FILTERS IN PROJECTS PAGE STYLES
============================================ */

.projects-filters {
    padding-bottom: 0;
}

.projects-filters .container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.projects-filters button {
    border: none;
    background: rgba(173, 216, 230, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: pointer;
}

.projects-filters button:hover {
    background: lightblue;
}

.projects-filters button.active {
    background: #222;
    color: white;
}

/* ============================================
PROJECTS IN PROJECTS PAGE STYLES
============================================ */

.projects-page.projects-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.projects-page.projects-list .project {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: calc((100% - 20px) / 2);
}

@media only screen and (max-width: 500px) {
    .projects-page.projects-list .project {
        width: 100%;
    }
}

.projects-page.projects-list .project p span {
    background-color: rgba(173, 216, 230, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
}

/* ============================================
WORK EXPERIENCES SECTION STYLES
============================================ */

.work-experience {
    background: #f9f9f9;
}

.work-experience .work-experience-list .job {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.work-experience .work-experience-list .job p span {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}

/* ============================================
FOOTER STYLES
============================================ */

footer {
    background-color: #222;
    padding: 20px 40px;
}

footer p {
    margin: 0;
    color: white;
}