/* =================================================
GLOBAL STYLES
================================================= */

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* =================================================
MODAL STYLES
================================================= */

.modal-wrapper:not(.active) {
    display: none;
}

.modal-wrapper .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.modal-wrapper .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    z-index: 1001;
}

/* =================================================
PRODUCT DETAILS IN MODAL STYLES
================================================= */

.modal-wrapper .modal .content {
    display: flex;
    gap: 24px;
}

.modal-wrapper .modal .content > * {
    flex: 1;
}

.modal-wrapper .modal .content .image-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.modal-wrapper .modal .content .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-wrapper .modal .content .colors,
.modal-wrapper .modal .content .sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.modal-wrapper .modal .content .colors span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.modal-wrapper .modal .content .colors span.active,
.modal-wrapper .modal .content .colors span:hover {
    opacity: 1;
}

.modal-wrapper .modal .content .sizes span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.modal-wrapper .modal .content .sizes span.active,
.modal-wrapper .modal .content .sizes span:hover {
    background-color: mediumseagreen;
    color: white;
}

.modal-wrapper .modal .content button {
    display: inline-block;
    padding: 10px 20px;
    background-color: mediumseagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.modal-wrapper .modal .content button:hover {
    background-color: rgb(50, 160, 99);
}

/* =================================================
HEADER STYLES
================================================= */

header {
    background-color: mediumseagreen;
    padding: 80px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .cart {
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: black;
    transition: 0.2s all;
}

header a:hover {
    color: white;
}

header svg {
    fill: black;
    transition: 0.2s all;
}

header svg:hover {
    fill: white;
}

/* =================================================
PRODUCTS STYLES
================================================= */

.products-block {
    padding: 40px 0;
}

.products-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.products-list .product {
    padding: 20px;
    width: calc((100% - 2 * 24px) / 3);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.products-list .product .image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.products-list .product .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s all;
    transform: scale(1);
}

.products-list .product .image-wrapper:hover img {
    transform: scale(1.1);
}

.products-list .product button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: mediumseagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.products-list .product button:hover {
    background-color: rgb(50, 160, 99);
}
